<table width=600>
<tr><td height=10>
</td><td>
<center><table>
<tr><td valign="top" align="center">
<table border=0 cellpadding=0 cellspacing=0>
<tr><td width=233 height=185 background="L2UI_CT1.OlympiadWnd_DF_GrandTexture"></td></tr>
</table>
<center>
<table width=550>
<tr><td width=500>
<center><font color=LEVEL>CtF (Capture the Flag)</font></center>%%

Players randomly divided into two teams - red and blue.%%
The award winning team players receive. Purpose - capture the flag opponents, and bring it to their base.%%
In case of death, players are automatically resurrected at its base, after 10 seconds.%%
Event held in the Coliseum. You may use any items. Buffs before the fight can not be removed.%%
Given 3 minutes to register, 1 minute at teleportation, 5 minutes for fighting.%%
If the winner is determined before the battle ends automatically.%%
At the end of the opening event, all participants resurrected, cured, and teleport back.%%
In case of death, the experience is not lost.

To register in the opening event, you can use the link (Event must be active):

<a action="bypass -h scripts_events.CaptureTheFlag.CaptureTheFlag:addPlayer"><font color="aadd77">Sign up for Event</font></a>%%
<a action="bypass _bbspage:event/event_info"><font color="LEVEL">The rules for participation.</font></a>%%

</td></tr>
</table>
</center>
</td></tr>
</table>
</td></tr></table></center>