<table width=600>
<tr><td height=10>
</td><td>
<center><table>
<tr><td valign="top" align="center">
<table border=0 cellpadding=0 cellspacing=0>
<tr><td width=233 height=185 background="L2UI_CT1.OlympiadWnd_DF_GrandTexture"></td></tr>
</table>
<center>
<table width=550>
<tr><td width=500>
<center><font color=LEVEL>CtF (Capture the Flag)</font></center>%%

Игроки случайным образом разделяются на 2 команды - красные и синие.%%
Награду получают игроки победившей команды. Цель - захватить флаг соперников, и принести его на свою базу.%%
В случае смерти, игроки автоматически воскрешаются на своей базе, через 10 секунд.%%
Эвент проводится в колизее. Разрешается использовать любые предметы. Бафы перед боем не снимаются.%%
Дается 3 минуты на регистрацию, 1 минута на телепортацию, 5 минут на бой.%%
Если победитель определится раньше, бой автоматически заканчивается.%%
В конце эвента, все участники воскрешаются, вылечиваются, и телепортируются обратно.%%
В случае смерти, опыт не теряется.

Для регистрации в эвенте, можно воспользоваться ссылкой (эвент должен быть активен):

<a action="bypass -h scripts_events.CaptureTheFlag.CaptureTheFlag:addPlayer"><font color="aadd77">Регистрация в эвенте</font></a>%%
<a action="bypass _bbspage:event/event_info"><font color="LEVEL">Правила для участия.</font></a>%%

</td></tr>
</table>
</center>
</td></tr>
</table>
</td></tr></table></center>