<br>
<br>
<br><title>Community Board - Services</title>
	<table width=480 height=370>
			<tr>
				<td>
					<center>
						<table width=250>
							<tr>
								<td align=center width=200>List of services:</td>
							</tr>
							<tr>
								<td width=250>
									<center>
										<button value="Changing nick" action="bypass _bbsscripts:services.Rename:rename_page;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="Sex change" action="bypass _bbsscripts:services.Rename:changesex_page;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="To separate subclass" action="bypass _bbsscripts:services.Rename:separate_page;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="Back to base" action="bypass _bbsscripts:services.Rename:changebase_page;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="Change the name of the clan" action="bypass _bbsscripts:services.Rename:rename_clan_page;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="Change the color nick" action="bypass _bbsscripts:services.NickColor:list;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="Change the color title" action="bypass _bbsscripts:services.TitleColor:list;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="Sell ​​the Nobility" action="bypass _bbsscripts:services.NoblessSell:get;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="Expansion of the clan warehouse" action="bypass _bbsscripts:services.ExpandCWH:show;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
									    <button value="Transferring account" action="bypass _bbsscripts:services.Account:show;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
                                    	<button value="Activate SubClass" action="bypass _bbsscripts:services.ActivateSub:show;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
									</center>
								</td>
							</tr>
						</table>
					</center> 
				</td>    
				<td width=320>
					<center>
					<table width=250>
							<tr>
								<td width=480><font color=3293F3>List of special teams:</font><br></td>
							</tr>
							<tr>
								<td width=250>
                                    <center>
                                        <button value="Expanding the inventory" action="bypass _bbsscripts:services.ExpandInventory:show;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="Expansion of the warehouse" action="bypass _bbsscripts:services.ExpandWarehouse:show;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="Premium" action="bypass _bbsscripts:services.RateBonus:list;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="Change the name of a pet" action="bypass _bbsscripts:services.petevolve.exchange:showBabyPetExchange;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="Buy Hero" action="bypass _bbsscripts:services.BuyHeroStatus:list;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="Changes in the level" action="bypass _bbsscripts:services.lvl:list;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
                                        <button value="Enchant things" action="bypass _bbsechant" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
                                    	<button value="Exchange" action="bypass _bbsscripts:services.CoinPoinExch:show;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
									</center>
								</td>
							</tr>
					</table>
					</center> 
				</td>
			</tr>
	</table>