<table border=0 cellspacing=0 width=280 height=30 background="L2UI_CT1.Windows.Windows_DF_TooltipBG">
	<tr>
		<td width=140>
		
			<button value="%scheme_name%" action="bypass BBSB.Use.Scheme:%scheme_id%" width=128 height=30 back="Button_DF_Calculator_Down" fore="Button_DF_Calculator">
		
		</td>
		<td width=20>
			Автобаф:
		</td>
			
		<td width=20>
		
		 %button_rebuff%
			
		</td>
	</tr>
</table>