<table border=0 cellspacing=0 width=760 height=410 background="L2UI_CT1.Windows.Windows_DF_Large_Bg">

	<tr>
		<td width=10 height=360></td>
		
		<td width=760 align=center>

			<table border=0 cellspacing=0 height=360>

				<tr>
					<td width=740 align=center>%list%</td>
				</tr>
				
			</table>
		
		</td>
		
		<td width=10></td>
	</tr>
	
	<tr>
		<td height=40></td>

		<td>
			<table border=0 cellspacing=0>

				<tr>
					<td width=200>&nbsp;&nbsp;&nbsp;Всего схем: %scheme_counter%</td>
					
					<td width=350></td>
					
					<td width=200></td>
				</tr>
				
			</table>
		</td>
		
		<td></td>
	</tr>
	
</table>