<table border=0 cellspacing=0 width=730 height=36 background="L2UI_CT1.Windows.Windows_DF_TooltipBG">
	<tr>
		<td height=36 width=36 background="Icon_DF_MenuWnd_Quest">
			
		</td>
		
		<td height=36 width=470>
			<table>
				<tr>
					<td width=400 height=18>
						%scheme_name%
					</td>
				</tr>
				<tr>
					<td height=18>
						<font color=969696>Бафов: %scheme_buff_count% %scheme_price%</font>
					</td>
				</tr>
			</table>
		</td>
		
		<td width=105>
			%button_left%
		</td>
		
		<td width=105>
			%button_right%
		</td>

	</tr>
</table>