<table border=0 cellspacing=0 width=370 height=36 >
	<tr>
		<td width=140>
		
			<button value="%scheme_name%" action="bypass BBSB.Use.Scheme:%scheme_id%" width=128 height=26 back="Button_DF_Calculator_Down" fore="Button_DF_Calculator">
		
		</td>
	</tr>
</table>