<title>Community Board</title>
<br>
<br>
<table width=640>
		<tr>
			<td valign="top" align="left">
				<font color="6BD75A">Добро пожаловать на биржу ServerName</font>
			</td>
			<td align="left">
			<button value="На гланую" action="bypass _bbshome" width=100 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
			</td>
			<td align="left">
			<button value="Биржа" action="bypass _bbsbrokerAllList 1 0 0;" width=100 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
			</td>
			<td align="left">
			<button value="Мои предметы" action="bypass _bbsbrokerMyList 1 0 0;" width=100 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
			</td>
			<td align="left">
			<button value="На продаже" action="bypass _bbsbrokerMyItem 1 0 0;" width=100 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
			</td>
		</tr>
		
</table>
<img src=L2UI.SquareWhite width=647 height=1>

		%listNum%


<br>
<img src=L2UI.SquareWhite width=647 height=1>
<br>
<br>
%exchangeItem%
<br>
<br>
<img src=L2UI.SquareWhite width=647 height=1>