<title>Инструменты Тестера</title>
<br>
<br>
<table valign="top" width=640>
		<tr>
			<td align="left">
				<font color="6BD75A">Инструменты Тестера для OBT ServerName</font>
			</td>
			<td width=100><font color="FFFFFF">Здравствуй </font><font color="F25202">%name%</font><font color="FFFFFF"> !</font></td>
		</tr>
		<tr>
		<td align="left"></td>
		<td width=100><font color="LEVEL">Добро пожаловать на OBT</font></td>
		</tr>
</table><img src=L2UI.SquareWhite width=647 height=1>
<br><br><br>
<table valign="top" width=640>
		<tr>
		<td><center>
		<button value="Gm shop" action="bypass _bbspage:tester" width=100 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/></center>
		</td>
		
		<td><center>
		<button value="Телепорт" action="bypass _bbspage:tester" width=100 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/></center>
		</td>
		
		<td><center>
		<button value="Баффер" action="bypass _bbspage:tester" width=100 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/></center>
		</td>

		</tr>
		<tr></tr><tr></tr>
		<tr>
		<td><center>
		<button value="Lvl/SP/EXP" action="bypass _bbspage:tester" width=100 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/></center>
		</td>
		
		<td><center>
		<button value="Создать предмет" action="bypass _bbspage:tester" width=100 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/></center>
		</td>
		
		<td><center>
		<button value="Получить скилы" action="bypass _bbspage:tester" width=100 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/></center>
		</td>

		</tr>
		<tr></tr><tr></tr>
		<tr>
		<td><center>
		<button value="Получить Noble" action="bypass _bbspage:tester" width=100 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/></center>
		</td>
		
		<td><center>
		<button value="Карьера" action="bypass _bbspage:tester" width=100 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/></center>
		</td>
		
		<td><center>
		<button value="Уровень клана" action="bypass _bbspage:tester" width=100 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/></center>
		</td>

		</tr>
</table>
<br><br><br><br>
<table valign="top" width=640>
	<tr>
			<td align="left">
				<font color="LEVEL">Уважаемые Тестеры!</font> <font color="62C2F2">Просьба не злоупотреблять данными Вам возможностями, и не мешать другим игрокам</font>
			</td>
		</tr>
</table>
<img src=L2UI.SquareWhite width=647 height=1>			
<table width=647 bgcolor=CCCCCC>
<tr>
<td align="center" width=647>Информация Вашего персонажа</td>
</tr>
</table>
<img src=L2UI.SquareWhite width=647 height=1>
<table width=647 >
<tr>
<td width=100>Статус аккаунта</td><td width=50>%prem%</td><td width=100>EXP</td><td width=60>x%exp%</td>
</tr>
<tr>
<td width=100>Имя персонажа</td><td width=10>%name%</td><td width=100>SP</td><td width=60>x%sp%</td>
</tr>
<tr>
<td width=100>Титул персонажа</td><td width=10>%title%</td><td width=100>Items</td><td width=60>x%items%</td>
</tr>
<tr>
<td width=100>Наименование клана</td><td width=10>%clan%</td><td width=100>Adena</td><td width=60>x%adena%</td>
</tr>
<tr>
<td width=100>Наименование альянса</td><td width=10>%aly%</td><td width=100>Spoil</td><td width=60>x%spoil%</td>
</tr>
<tr>
<td width=100>Пол</td><td width=10>%sex%</td><td width=100>Quest Reward</td><td width=60>x%reward%</td>
</tr>
<tr>
<td width=100>Количество сабов</td><td width=10>%sub%</td><td width=100>Quest</td><td width=60>x%qrate%</td>
</tr>
<tr></tr>
<tr></tr>
</table>