<table border=0 height=410 width=767 cellspacing=0 background="L2UI_CT1.Windows.Windows_DF_Large_Bg">
	<tr>
		<td width=10 height=410></td>
		
		<td align=center>
			<table border=0 cellspacing=0 cellpadding=0>
				<tr>
					<td width=300 height=80></td>
				</tr>
				<tr>
					<td height=80 align=center background="L2UI_CT1.Windows.Windows_DF_TooltipBG">
						<button value="Buff's List" action="bypass BBSB.SetMode:1" width=128 height=26  back="Button_DF_Calculator_Down" fore="Button_DF_Calculator">
					</td>
				</tr>
				<tr>
					<td height=90></td>
				</tr>
				<tr>
					<td height=80 align=center background="L2UI_CT1.Windows.Windows_DF_TooltipBG">
						<button value="Buff Scheme's" action="bypass BBSB.SetMode:2" width=128 height=26  back="Button_DF_Calculator_Down" fore="Button_DF_Calculator">
					</td>
				</tr>
				<tr>
					<td height=80></td>
				</tr>
			</table>	
		</td>
		
		<td width=10></td>
	</tr>
</table>