<table border=0 cellspacing=0 width=766 height=410 bgcolor=000000>

	<tr>
		<td width=10 height=200></td>
		
		<td width=760 align=center>

			<table border=0 cellspacing=0 height=360>

				<tr>
					<td width=370 align=center>
					
							
	<table background="L2UI_CT1.Windows_DF_Drawer_Bg" cellspacing="2" cellpadding="0" height="20" align="center" border=0>
			<tr>
				<td valign=top><button value="Набор для мага" action="bypass BBSB.Special.Use.Scheme:1" width=147 height=32 back="L2UI_CT1.Button_DF_Large_Down"  fore="L2UI_CT1.Button_DF_Large"></td>	
				<td valign=top><button value="Набор для война" action="bypass BBSB.Special.Use.Scheme:2" width=147 height=32 back="L2UI_CT1.Button_DF_Large_Down"  fore="L2UI_CT1.Button_DF_Large"></td>	
			</tr>	
		</table>


<table background="L2UI_CT1.Windows_DF_Drawer_Bg" cellspacing="6" cellpadding="0" height="20" align="center" border=0>
<tr>
<td valign=top><img src="Icon.skill1499" width="32" height="32"></td>
<td valign=top><button value="PP/EE/SE" action="bypass BBSB.Filter.SBFromGroupForSimpleMode:98" width=250 height=32 back="L2UI_CT1.Button_DF_Large_Down"  fore="L2UI_CT1.Button_DF_Large"></td>	
</tr>	
</table>
<table background="L2UI_CT1.Windows_DF_Drawer_Bg" cellspacing="6" cellpadding="0" height="20" align="center" border=0>
<tr>
<td valign=top><img src="Icon.skill0989" width="32" height="32"></td>
<td valign=top><button value="Дэнсы" action="bypass BBSB.Filter.SBFromGroupForSimpleMode:111" width=250 height=32 back="L2UI_CT1.Button_DF_Large_Down"  fore="L2UI_CT1.Button_DF_Large"></td>		
</tr>	
</table>
<table background="L2UI_CT1.Windows_DF_Drawer_Bg" cellspacing="6" cellpadding="0" height="20" align="center" border=0>
<tr>
<td valign=top><img src="Icon.skill0764" width="32" height="32"></td>
<td valign=top><button value="Сонги" action="bypass BBSB.Filter.SBFromGroupForSimpleMode:103" width=250 height=32 back="L2UI_CT1.Button_DF_Large_Down"  fore="L2UI_CT1.Button_DF_Large"></td>		
</tr>	
</table>
<table background="L2UI_CT1.Windows_DF_Drawer_Bg" cellspacing="6" cellpadding="0" height="20" align="center" border=0>
<tr>
<td valign=top><img src="Icon.skill0828" width="32" height="32"></td>
<td valign=top><button value="Питомцы/Гном" action="bypass BBSB.Filter.SBFromGroupForSimpleMode:556" width=250 height=32 back="L2UI_CT1.Button_DF_Large_Down"  fore="L2UI_CT1.Button_DF_Large"></td>
</tr>	
</table>
<table background="L2UI_CT1.Windows_DF_Drawer_Bg" cellspacing="6" cellpadding="0" height="20" align="center" border=0>
<tr>
<td valign=top><img src="Icon.skill1352" width="32" height="32"></td>
<td valign=top><button value="Резисты" action="bypass BBSB.Filter.SBFromGroupForSimpleMode:555" width=250 height=32 back="L2UI_CT1.Button_DF_Large_Down"  fore="L2UI_CT1.Button_DF_Large"></td>		
</tr>	
</table>
<table background="L2UI_CT1.Windows_DF_Drawer_Bg" cellspacing="6" cellpadding="0" height="20" align="center" border=0>
<tr>
<td valign=top><img src="Icon.skill1363" width="32" height="32"></td>
<td valign=top><button value="Специальные бафы" action="bypass BBSB.Filter.SBFromGroupForSimpleMode:777" width=250 height=32 back="L2UI_CT1.Button_DF_Large_Down"  fore="L2UI_CT1.Button_DF_Large"></td>		
</tr>	
</table> 

<table background="L2UI_CT1.Windows_DF_Drawer_Bg" cellspacing="6" cellpadding="0" height="20" align="center" border=0>
<tr>
<td valign=top><img src="Icon.skill1459" width="32" height="32"></td>
<td valign=top><button value="[CP/HP/MP]" action="bypass BBSB.RestoreCpHpMp" width=250 height=32 back="L2UI_CT1.Button_DF_Large_Down"  fore="L2UI_CT1.Button_DF_Large"></td>		
</tr>	
</table> 
<table background="L2UI_CT1.Windows_DF_Drawer_Bg" cellspacing="6" cellpadding="0" height="20" align="center" border=0>
<tr>
<td valign=top><img src="Icon.skill1056" width="32" height="32"></td>
<td valign=top><button value="[Cancel]" action="bypass BBSB.CancelBuffs" width=250 height=32 back="L2UI_CT1.Button_DF_Large_Down"  fore="L2UI_CT1.Button_DF_Large"></td>		
</tr>	
</table> 

	
		
		
						
					</td>
				
					<td width=370 align=center><button value="Создание схемы" action="bypass BBSB.Scheme.Init" width=202 height=32 back="L2UI_CT1.OlympiadWnd_DF_Watch_Down" fore="L2UI_CT1.OlympiadWnd_DF_Watch"> <br>%scheme_list%</td>
					
				</tr>
				
			</table>
		
		</td>
		
		<td width=10></td>
	</tr>
	
	<tr>
		<td height=40></td>

		<td>
			<table border=0 cellspacing=0>

				<tr>
					<td width=200></td>
					
					<td width=350></td>
					
					<td width=200>%scheme_for%</td>
				</tr>
				
			</table>
		</td>
		
		<td></td>
	</tr>
	
</table>