<title>Community Board</title>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
Добро Пожаловать на сервер Lineage II High Five.<br>
Разработка и поддержка сервера: http://www.first-team.ru<br>
Благодарим Вас за выбор нашего сервера.<br>