<br>
<br>
<br><title>Community Board - Сервисы</title>
	<table width=480 height=370>
			<tr>
				<td>
					<center>
						<table width=250>
							<tr>
								<td width=480><font color=3293F3>Список сервисов:</font><br></td>
							</tr>
							<tr>
								<td width=250>
									<center>
										<button value="Смена ника" action="bypass _bbsscripts:services.Rename:rename_page;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="Смена пола" action="bypass _bbsscripts:services.Rename:changesex_page;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="Отделить сабкласс" action="bypass _bbsscripts:services.Rename:separate_page;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="Сменить основу" action="bypass _bbsscripts:services.Rename:changebase_page;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="Смена имени клана" action="bypass _bbsscripts:services.Rename:rename_clan_page;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="Смена цвета ника" action="bypass _bbsscripts:services.NickColor:list;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="Смена цвета титула" action="bypass _bbsscripts:services.TitleColor:list;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="Продажа дворянства" action="bypass _bbsscripts:services.NoblessSell:get;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="Расширение кланового склада" action="bypass _bbsscripts:services.ExpandCWH:show;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="Перенос персонажей" action="bypass _bbsscripts:services.Account:show;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
                                    	<button value="Активация подклассов" action="bypass _bbsscripts:services.ActivateSub:show;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
									</center>
								</td>
							</tr>
						</table>
					</center> 
				</td>    
				<td width=250>
					<center>
					<table width=250>
							<tr>
								<td width=480><font color=3293F3>Список сервисов:</font><br></td>
							</tr>
							<tr>
								<td width=320>
                                    <center>
                                        <button value="Расширение инвентаря" action="bypass _bbsscripts:services.ExpandInventory:show;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
                                        <button value="Расширение склада" action="bypass _bbsscripts:services.ExpandWarehouse:show;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
                                        <button value="Премиум" action="bypass _bbsscripts:services.RateBonus:list;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
                                        <button value="Смена имени пета" action="bypass _bbsscripts:services.petevolve.exchange:showBabyPetExchange;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
                                        <button value="Покупка Геройства" action="bypass _bbsscripts:services.BuyHeroStatus:list;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
                                        <button value="Изменение уровня" action="bypass _bbsscripts:services.lvl:list;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
                                        <button value="Заточка вещей" action="bypass _bbsechant" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
										<button value="Обменник" action="bypass _bbsscripts:services.CoinPoinExch:show;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
                                    	<button value="Перенос аккаунта" action="bypass _bbsscripts:services.Account:Show;_bbspage:services" width=200 height=26 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"/>
									</center>
								</td>
							</tr>
					</table>
					</center> 
				</td>
			</tr>
	</table>