<table border=0 cellspacing=0 cellpadding=0>

	<tr>
	
		<td width=100 align=center>
			<button value="Все" action="bypass BBSB.Filter.SBFromGroup:0" width=90 height=%H_0% back="Button_DF_Calculator_Down" fore="Button_DF_Calculator">
		</td>

		<td width=100 align=center>
			<button value="BD" action="bypass BBSB.Filter.SBFromGroup:111" width=90 height=%H_111% back="Button_DF_Calculator_Down" fore="Button_DF_Calculator">
		</td>
		
		<td width=100 align=center>
			<button value="SWS" action="bypass BBSB.Filter.SBFromGroup:103" width=90 height=%H_103% back="Button_DF_Calculator_Down" fore="Button_DF_Calculator">
		</td>

		<td width=100 align=center>
			<button value="PP/SE/EE" action="bypass BBSB.Filter.SBFromGroup:98" width=90 height=%H_98% back="Button_DF_Calculator_Down" fore="Button_DF_Calculator">
		</td>

		<td width=100 align=center>
			<button value="WC/D" action="bypass BBSB.Filter.SBFromGroup:116" width=90 height=%H_116% back="Button_DF_Calculator_Down" fore="Button_DF_Calculator">
		</td>

		<td width=100 align=center>
			<button value="S/C" action="bypass BBSB.Filter.SBFromGroup:556" width=90 height=%H_556% back="Button_DF_Calculator_Down" fore="Button_DF_Calculator">
		</td>

		<td width=100 align=center>
			<button value="Резисты" action="bypass BBSB.Filter.SBFromGroup:555" width=90 height=%H_555% back="Button_DF_Calculator_Down" fore="Button_DF_Calculator">
		</td>
		
		<td width=100 align=center>
			<button value="Специальные" action="bypass BBSB.Filter.SBFromGroup:777" width=90 height=%H_777% back="Button_DF_Calculator_Down" fore="Button_DF_Calculator">
		</td>
		
	</tr>

</table>	
	