<table border=0 cellspacing=0 width=760 height=410 background="L2UI_CT1.Windows.Windows_DF_Large_Bg">

	<tr>
		<td width=10 height=360></td>
		
		<td width=760 align=center>

			%buff_table%
		
		</td>
		
		<td width=10></td>
	</tr>
	
	<tr>
		<td height=40></td>

		<td>
			<table border=0 cellspacing=0>

				<tr>
					<td width=250>&nbsp;&nbsp;&nbsp;%buff_counter%</td>
					
					<td width=250 align=center>
						
						<table border=0 cellspacing=0>
							<tr>
								<td width=75 align=right>%page_changer_left%</td>
								
								<td width=100 align=center>%page_changer_center%</td>
								
								<td width=75 align=left>%page_changer_right%</td>
							</tr>
						</table>
					
					</td>
					
					<td width=250>
						<table border=0 cellspacing=0>
							<tr>
								<td width=40 align=center>%selector_1%</td>
								
								<td width=40 align=center>%selector_2%</td>
								
								<td width=170 align=center>%group_button%</td>
							</tr>
						</table>
					</td>
				</tr>
				
			</table>
		</td>
		
		<td></td>
	</tr>
</table>