<table border=0 cellspacing=0 height=360>

	<tr>
		<td width=240 align=center>%list_left%</td>
		
		<td width=240 align=center>%list_right%</td>
		
		<td width=240 align=center>%list_right_2%</td>
	</tr>
	
</table>