<table border=0 cellspacing=0 width=360 height=36 background="L2UI_CT1.Windows.Windows_DF_TooltipBG">
	<tr>
		<td height=34 width=34>
			%button%
		</td>
		
		<td height=34 width=326>
			<table width=326 height=32>
				<tr>
					<td width=326 height=16>
						%skill_name%
					</td>
				</tr>
				<tr>
					<td width=326 height=16>
						<font color=969696>%skill_info%</font>
					</td>
				</tr>
			</table>
		</td>

	</tr>
</table>