<title>Admin Panel</title>
<center><table width=275 bgcolor=CCCCCC>
<tr>
<td><button value="Главная" action="bypass -h admin_admin" width=65 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Ивенты" action="bypass -h admin_show_html events/events.htm" width=65 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Персонажи" action="bypass -h admin_char_manage" width=70 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Сервер" action="bypass -h admin_server admserver.htm" width=65 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr></table></center><br>
<center><font color="LEVEL">Быстрые объявления:</font></center><br1>
<center>
<table width=260 height=45 border=1>
<tr>
<td><center><multiedit var="menu_command" width=260 height=35><br1></center></td>
</tr>
</table></center>
<center>
<table width=260 border=1>
<tr>
<td><button value="Анонсировать" action="bypass -h admin_announce $menu_command" width=90 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Опубликовать" action="bypass -h admin_announce_announcements" width=92 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Меню" action="bypass -h admin_list_announcements" width=70 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>
</tr>
</table></center><br>
<center><font color="LEVEL">Управляющие:</font></center><br1>
<center>
<table width=260 border=1>
<tr>
<td><button value="Анонсы" action="bypass -h admin_list_announcements" width=125 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Телепорт" action="bypass -h admin_show_moves" width=125 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>
<tr>
<td><button value="Создание предмета" action="bypass -h admin_itemcreate" width=125 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Петиции" action="bypass -h admin_view_petitions" width=125 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>
<tr>
<td><button value="Замки\Форты" action="bypass -h admin_residence_list" width=125 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Магазин" action="bypass -h admin_gmshop" width=125 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>
<tr>
<td><button value="Спавн лист" action="bypass -h admin_list_spawns $menu_command" width=125 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Призвать НПЦ" action="bypass -h admin_show_spawns" width=125 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>
<tr>
<td><button value="Улучшение" action="bypass -h admin_enchant" width=125 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Играть музыку" action="bypass -h admin_play_sounds" width=125 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>
<tr>
<td><button value="Моиск маммонов" action="bypass -h admin_find_mammon" width=125 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Оседлать" action="bypass -h admin_show_html ride.htm" width=125 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF">
</td>
</tr>
<tr>
<td><button value="Выучить класс" action="bypass -h admin_show_html setclass.htm" width=125 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Саб класс" action="bypass -h admin_show_html charsubclasses.htm" width=125 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF">
</td>
</tr>
<tr>
<td><button value="Кланы" action="bypass -h admin_show_html pledgemanage.htm" width=125 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Трансормации" action="bypass -h admin_show_html transform.htm" width=125 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF">
</td>
</tr>
<tr>
<td><button value="Манор" action="bypass -h admin_manor" width=125 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Олимпиада" action="bypass -h admin_show_html olympiad.htm" width=125 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>
<tr>
<td><button value="Атрибут" action="bypass -h admin_show_html attribute.htm" width=125 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>
</table></center><br>
<center><font color="LEVEL">Быстрая команда:</font></center><br1>
<center>
<table width=259 height=28 border=1>
<tr>
<td><center><edit var="menu_command" width=250 height=15><br1></center></td>
</tr>
</table>
<table width=260 border=1>
<tr>
<td><button value="Дисконект" action="bypass -h admin_kick $menu_command" width=60 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Убить" action="bypass -h admin_kill" width=60 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Удалить" action="bypass -h admin_delete" width=60 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Забанить" action="bypass -h admin_ban $menu_command" width=60 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>
<tr>
<td><button value="Карма" action="bypass -h admin_setkarma $menu_command" width=60 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Инвиз" action="bypass -h admin_invis" width=60 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Инвул" action="bypass -h admin_invul" width=60 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Открыть" action="bypass -h admin_open" width=60 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>
<tr>
<td><button value="Закрыть" action="bypass -h admin_close" width=60 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>
</table>
</center>

