Arena Manager:

This is a list of the teams planning to participate in this match. Impressive, aren't they? But don't be intimidated. Knowing your opponents and their capabilities is good strategy in fact.

=== List of Participating Teams ===

1. (Participating Team: <FONT color=00ffff>%team0%</FONT> Team)

2. (Participating Team: <FONT color=00ffff>%team1%</FONT> Team)

3. (Participating Team: <FONT color=00ffff>%team2%</FONT> Team)

4. (Participating Team: <FONT color=00ffff>%team3%</FONT> Team)

5. (Participating Team: <FONT color=00ffff>%team4%</FONT> Team)

[npc_%objectId%_Link scripts/events/UndergroundColiseum/entrance_manager.htm|Back]